<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Sent</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <div class="container">
        <h1>Message Sent!</h1>
        <p>Check out for the EncryptedMessage sent via Email</p>
        <p>Check your phone for the OTP.</p>

        <a href="/decrypt" class="button2"><span>Proceed to Decrypt</span></a>
       
       
    </div>
</body>
</html>